*{
  font-size: 100%;
}

body {
  background-image: url("images/pattern.png");
  background-repeat: repeat;
  color: darkslategray;
  font-family: 'Gudea', sans-serif;
  font-size: 22px;
}
/* Horrible website designed by Steve */
.container {
  max-width: 1000px
}
h1 {
  color: red;
  font-family: 'Lalezar', cursive;
  font-size: 120px;
  font-weight: 200;
  text-align: left;
}
header h1 {
  text-align: center;
  background-image: url("images/oar.jpg");
  background-position: center;
}

h2 {
font-size 20px;
font-weight: 700;
text-align: center;
}

h3 {
  font-size 1px;
  font-style: italic;
  text-align: center;
}
p {
  font-size 12px
  line-height: 2;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.footer {
   background-color: black;
}
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
